spring:
  application:
    name: loans

  web:
    error:
      include-message: always
      include-binding-errors: always
      include-stacktrace: always

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.web.servlet.DispatcherServlet: DEBUG
